{% extends '@EasyAdmin/layout.html.twig' %}

{% block title%}
	Création d'un compte
	{{parent()}}
{% endblock %}

{% block body %}
	<section>
		<h1>Création d'un compte utilisateur</h1>
		{{form_start(form)}}
		{{form_widget(form)}}
		<button>Créer le compte</button>
		{{form_end(form)}}
	</section>
{% endblock %}
